<h1 class="title" >Tic Tac Toe</h1>

<div class="gameContainer" >
  <div class="score-banner">
    <div>Score</div>
    <span>Player 1: {{gameService.getScore().player1}}</span>
    <span class="spacer"></span>
    <span>Player 2: {{gameService.getScore().player2}}</span>
    <span class="spacer"></span>
    <span>tie: {{gameService.getScore().tie}}</span>
  </div>
  <div class="win-banner">
    <h1 *ngIf="playing && gameService.getGameOutcome().condition === 'win'">{{gameService.getGameOutcome().player}} Wins!</h1>
    <h1 *ngIf="playing && gameService.getGameOutcome().condition === 'tie'">Tie!</h1>
    <h1 *ngIf="playing && gameService.getTurn() && !gameService.getGameOutcome().condition">{{gameService.getTurn()}}'s Turn</h1>
    <h1 *ngIf="!playing">Enter Your Tokens!</h1>
  </div>
  <div class="game-board-container" (mouseleave)="placeTokenPreview(i,false)">
    <div class="game-board-tile" *ngFor="let tile of gameBoard; let i = index" (click)="!gameService.getGameOutcome().condition && placeToken(i, this.playerOneToken, this.playerTwoToken)" (mouseenter)="placeTokenPreview(i,true)">
        <div class="game-board-symbol" *ngIf="tile!='*'">{{tile}}</div>
        <!-- <div class="game-board-symbol">{{tile}}</div> -->
    </div>
  </div>
  <div class="control-container">
      <span>Player 1 </span><input [disabled]="playing" type="text" size="1" maxlength="1" [(ngModel)]="this.playerOneToken">
      <span class="spacer"></span>
      <span>Player 2 </span><input [disabled]="playing" type="text" size="1" maxlength="1" [(ngModel)]="this.playerTwoToken">
    <div class="button-container">
      <button
        [disabled]="!playerOneToken || !playerTwoToken"
        (click)=this.startGame()
        *ngIf="!playing">
          Start
      </button>
      <button
        (click)="restartGame()"
        *ngIf="playing && gameService.getGameOutcome().condition ===''">
          Restart
      </button>
      <button
        (click)="replayGame()"
        *ngIf="playing && gameService.getGameOutcome().condition !== ''">
          Replay
      </button>
      <button
        (click)="restartGame()"
        *ngIf="playing && gameService.getGameOutcome().condition !== ''">
          End
      </button>
    </div>
  </div>
</div>
